.container{
    display: flex;
    justify-content: center;
}

.container ol {
    list-style: none;
    width: 83vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.container ol li {
    padding: 10px;
    font-size: large;
    font-weight: 600;
}

.product-box {
    width: 200px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-box:hover {
    background-color: aliceblue;
    border: none;
    box-shadow: 3px 3px 10px 4px #88888893;
}

.cart-btn-container {
    display: flex;
    justify-content: center;
}

.cart-button {
    padding: 5px;
    margin: 5px;
    font-size: x-small;
    font-weight: 700;
    color: white;
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 3px;
}

.cart-button:hover {
    cursor: pointer;
    color: crimson;
    background-color: white;
    border: 2px solid crimson;
}