.container{
    display: flex;
    justify-content: center;
}

.container ol {
    list-style: none;
    width: 71vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.container ol li {
    padding: 10px;
    font-size: large;
    font-weight: 600;
}

.product-box {
    width: 200px;
    height: 150px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-box:hover {
    background-color: rgba(0, 0, 0, 0.048);
    border: none;
    box-shadow: 3px 3px 10px 4px #88888893;
}